Package: com.unlimapps.uamediaexporthelper
Name: uamediaexporthelper
Version: 1.0r-15
Description: Developer library for easy access to JODebox import functions source at https://github.com/eni9889/libjodebox
Section: System
Depends: firmware (>= 7.0), com.ouraigua.jodebox (>= 3.0.1), com.rpetrich.rocketbootstrap
Conflicts: com.unlimapps.jodeboxlib
Priority: optional
Architecture: iphoneos-arm
Author: UnlimApps Inc <support@unlimapps.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
dev: i4iphones
